:root {
    --white: #ffffff;
    --black: #000000;
    --gray: #636363;
    --orange: #f4a950;
    --lightOrange: #f7c282;
}

.button {
    background-color: var(--orange);
    width: 110px;
    height: 30px;
    border-radius: 5px;
    border: var(--orange);
}

.button:hover {
    transition: .3s;
    background-color: var(--lightOrange);
}