:root {
    --white: #ffffff;
    --black: #000000;
    --gray: #636363;
    --orange: #f4a950;
    --lightOrange: #f7c282;
    --darkGray: #161B21;
}

.section-3 {
    background-color: var(--black);
    color: var(--white);
}